.contact-block-list {
	&__item {
	}
	&__inner {
		display: inline-block;
		vertical-align: top;
		color: $main;
		font-weight: 500;
		font-size: 14px;
		line-height: 1;
		&--link {
			
			font-size: 17px;
			&:hover {
				color: $red;
			}
		}
	}
}