.index-pg {
	padding: 0;
}


.service-hold {
	position: relative;
	z-index: 1;
	background: #fff;
	margin-top: -106px;
	padding: 151px 0 31px;
	.container__title--sm {
		padding-bottom: 55px;
		@include b(mobile) {
		  padding-bottom: 36px;
		}
	}
}

.slideshow-hold {
	padding: 40px 0;
	position: relative;
	z-index: 1;
}

.about {
	padding: 10px 0;
	&__holder {
		@extend %rlist;
		margin: 0 -5px;
	}
	&__cell {
		@extend %ulist;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 5px;
		@include b(mobile) {
		  width: 100%;
		  margin-bottom: 20px;
		  &:last-child {
		  	margin-bottom: 0;
		  }
		}
	}
	&__inner {
		background-color: $white;
		padding: 36px 27px 27px;
		&--mod {
			padding: 36px 0 0;
		}
	}
	&__title {
		text-align: center;
		padding-bottom: 8px;
		color: $main;
		font-size: 21px;
		font-weight: 900;
		text-transform: uppercase;
		&--mod {
			padding-bottom: 38px;
		}
	}
	&__subtitle {
		color: $red;
		font-weight: 400;
		font-size: 14px;
		text-transform: uppercase;
		padding-bottom: 20px;
		text-align: center;
	}
}

.video {
	height: 303px;
	&__inner {
		position: relative;
		z-index: 2;
		height: 100%;
		width: 100%;
	}
	&__link {
		display: block;
		height: 100%;
		width: 100%;
		position: relative;
		z-index: 5;
		&:hover {
			cursor: pointer;
			opacity: .7;
		}
		&:after {
			content: "";
			height: 100%;
			width: 100%;
			background-color: rgba($black, .5);

			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
		}
	}
	&__arrow {
		@extend %centering;
		font-size: 0;
		line-height: 0;
		letter-spacing: -5px;
		height: 70px;
		width: 70px;
		border-radius: 50%;
		border-color: $yellow;
		text-align: center;
		border: 3px solid $yellow;
		
		position: absolute;
		top: calc(50% - 35px);
		left: calc(50% - 35px);
		z-index: 4;
		&-icon {
			vertical-align: middle;
			margin-left: 9px;
		}
	}
}

li  {
	button {
		position: relative;
	}
	canvas {
		display: block;
		position: absolute;
		visibility: hidden;
		transition: visibility 0s ease 0s;
		
	}
	&.slick-active  {
		canvas {
			transition: visibility 0s ease .5s;
			visibility: visible;
			top: 0;
			left: 0;
			pointer-events: none;
		}
	}
}

.content-block {
	padding: 49px 0 26px;
	box-shadow: 0 8px 13px rgba($black, .1);
	position: relative;	
	z-index: 999;
	.container__title--sm {
		padding-bottom: 43px;
		@include b(mobile) {
		  padding-bottom: 33px;
		}
	}
}