//----------------------------------------------------//
// Variables                                          //
//--------------------------------макс корж --------------------//
$mainFont:				'Geometria'; 
$mainFontSize:		16px;
$mainFontHeight:	1.2;
$mainFontWeight:	400;
$mainFontColor:		#2f2f2f;

$secondFont:				'Verdana'; 
$secondFontSize:		14px;
$secondFontHeight:	1.2;
$secondFontWeign:		400;
$secondFontColor:		#525252;

$fixFont:					Verdana; 
$fixFontSize:			14px;
$fixFontHeight:		24px;

$font: 'Arial';

$opensans: 'OpenSans';

// Variables => Colors
//----------------------------------------------------//
$default: #56606b;

$main: #121213;

$black: #000;
$black2: #2c2c32;

$white: #fff;

$blue: #2f2f2f;
$blue2: #015cb9;

$gray: #e7e7e7;
$gray2: #dfdfdf;
$gray3: #a6a6a6;
$gray4: #e6e8e9;
$gray5: #f8f7f7;
$gray6: #34302a;
$gray7: #4f4f52;
$gray8: #eeede7;

$disabled: #e2ddd4;

$red: #ee1c1f;
$red2: #d91e20;

$yellow: #ffcc00;
$yellow2: #ffd633;