button,
.btn {
	text-align: center;
	vertical-align: top;
	font-weight: $mainFontWeight;
	font-size: 15px;
	line-height: $mainFontHeight;
	padding: 19px 38px;
	background: $yellow;
	color: $main;
	border: 0;
	border-radius: 0; 
	position: relative;
	transition: all .3s ease-in-out;
	display: inline-block;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: .7px;
	@include b(mobile) {
	  	padding: 19px 15px;
	}
	&:hover,
	&:focus,
	&.active {
		color: $main;
		background: $yellow2;
	}
	&.disabled,
	&[disabled="disabled"], 
	&[disabled] {
		background: #ccc;
		color: #aaa;
		cursor: not-allowed;
	}
	&--image {
		@extend %centering;
		font-size: 0;
		line-height: 	0;
		letter-spacing: -5px;
		padding: 13px 11px 14px;
		text-align: left;
		@include b(mobile) {
		  padding: 9px 11px;
		}
	}
	&__image {
		display: inline-block;	
		vertical-align: middle;	
		width: 28px;
	}
	&__text {
		@extend %ulist;
		display: inline-block;	
		vertical-align: middle;	
		width: calc(100% - 28px);
		font-size: 11px;
		font-weight: 700;
		letter-spacing: .7px;
		@include b(mobile) {
		  font-size: 9px;
		}
	}
	&--border {
		border: 1px solid $yellow;
		background-color: transparent;
		&:hover {
			background-color: transparent;
			.btn__text {
				color: $yellow;
			}
		}
		.btn__text {
			color: $white;
		}
	}
	&--sm {
		font-size: 14px;
		font-weight: 500;
		text-transform: none;
		padding: 12px 10px;
		letter-spacing: 0;
	}
	&-border {
		font-size: 12px;
		color: rgba($black, .7);
		border-bottom: 1px solid rgba($black, .3);
		&:hover {
			border-bottom-color: transparent;
		}
	}
}