.icon-logo {
	height: 56px;
	width: 125px;
	fill: $white;
}
.icon-pencil {
	height: 16px;
	width: 16px;
}
.icon-car {
	width: 20px;
	height: 16px;
}
.icon-loc {
	width: 15px;
	height: 20px;
}
.icon-clock {
	width: 20px;
	height: 20px;
}
.icon-tel {
	width: 20px;
	height: 20px;
}
.icon-arrow-right {
	width: 10px;
	height: 17px;
}
.icon-user {
	width: 16px;
	height: 17px;
}
.icon-message {
	width: 16px;
	height: 14px;
}
.icon-phone {
	width: 13px;
	height: 13px;
	fill: #cccccc;
}
.icon-not-found {
	width: 303px;
	height: 60px;
	fill: #cccccc;
}
.icon-arrows {
	width: 8px;
	height: 14px;
	fill: $red;
}
.icon-car-arrow {
	width: 54px;
	height: 40px;
}
.icon-air-filter {
	width: 54px;
	height: 40px;
}
.icon-car-arrows {
	width: 40px;
	height: 44px;
}
.icon-storage {
	width: 102px;
	height: 45px;
}
.icon-video-arrow {
	width: 25px;
	height: 29px;
}
.icon-vantage-01 {
	width: 42px;
	height: 40px;
}
.icon-vantage-02 {
	width: 34px;
	height: 35px;
}
.icon-vantage-03 {
	width: 52px;
	height: 33px;
}
.icon-vantage-04 {
	width: 32px;
	height: 35px;
}
.icon-vantage-05 {
	width: 40px;
	height: 40px;
}